/* 
    Document   : closesty
    Created on : Oct 20, 2016, 5:18:03 AM
    Author     : DELL
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
body{
    
     background-image: url(10.jpg) ;
     background-size: 100% 500%;
    background-repeat: no-repeat;
    
      
}
