/* 
    Document   : new2
    Created on : Oct 20, 2016, 6:14:44 AM
    Author     : DELL
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body{
    
     background-image: url(6.jpg) ;
     background-size: 100% 300%;
    background-repeat: no-repeat;
      
}

